.payment {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Philosopher", sans-serif;
}

.jumbotron {
  background-color: black;
  color: rgb(15, 211, 195);
  height: 10vh;
  display: flex;
  align-items: center;
}

.amount {
  justify-content: space-between;
}

.headers {
  text-align: left;
  font-size: 3vh;
  align-items: center;
}

h2 {
  font-size: 5vh;
  margin-bottom: 5vh;
  margin-left: 1vh;
}

.content {
  width: 100%;
  background-color: #ecf1fb;
  min-height: 100vh;
}

.pay {
  width: 100%;
  background-color: rgb(177, 180, 180);
  border: none;
  color: black;
  border-radius: 25px;
  outline: none;
  box-shadow: black 2px 3px 7px;
  max-width: 300px;
  font-size: 3vh;
}

.history {
  margin-top: 7vh;
}

.tabs {
  width: calc(49vw - 127px);
  font-size: 3vh;
  border-radius: 5px;
  color: rgb(177, 180, 180);
  background-color: #ecf1fb;
  box-shadow: none;
}

.tabs_active {
  color: black;
  box-shadow: rgb(15, 211, 195) 2px 3px 7px;
}

.history .nav {
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  border-color: #e9ecef #e9ecef #dee2e6 !important;
}

@media (min-width: 768px) and (max-width: 992px) {
  .tabs {
    width: calc(50vw - 70px);
  }
}

@media (max-width: 768px) {
  .content {
    min-height: calc(100vh - 72px);
  }

  .history {
    margin-top: 3vh;
  }

  .tabs {
    width: 48vw;
    font-size: 2vh;
  }

  .headers {
    font-size: 3vh;
    margin-left: 3vh;
  }

  h2 {
    font-size: 4.25vh;
    margin-bottom: 2vh;
  }

  h3 {
    font-size: 3vh;
  }
}
