.sideboard {
  color: #ecf1fb;
  height: 100vh;
  width: 250px;
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: rgb(15, 211, 195);
  box-shadow: rgb(15, 211, 195) 3px 3px 7px;
  transition: 0.5s;
  font-family: "Philosopher", sans-serif;
}

hr {
  background-color: rgb(15, 211, 195);
}

.head {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.emblem {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}
.toggler {
  width: 7vh;
  height: 7vh;
  z-index: 2;
}

.option {
  margin-left: 5%;
  height: 10vh;
  width: 90%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
}

.active-menu {
  background-color: #ecf1fb;
  color: rgb(15, 211, 195);
}

/* when width less than 768px */
.sideboard-collapsed {
  width: 0px;
  transition: 0.5s;
  box-shadow: none;
}
.sideboard-collapsed .text {
  display: none;
}
.sideboard-collapsed .head {
  display: none;
}

.sideboard-collapsed .options {
  display: none;
}

.sideboard-collapsed .container {
  padding: 0;
}

.sideboard-collapsed .option {
  margin: 0;
  margin-top: 5vh;
  width: 100%;
  border-radius: 10px;
}

/* when width less than 768px and sideboard is opened */
.sideboard-float {
  transition: 0s;
  animation: sideboard 0.5s;
}

@keyframes sideboard {
  0% {
    left: -175px;
  }
  100% {
    left: 0px;
  }
}
